* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #1c2e4a;
    --secondary: #FFCD91;
    --tertiary: white;
}

.btn {
    color: var(--tertiary);
    font-weight: bolder;
}

.title {
    margin-bottom: 5vh;
}

.hide {
    display: none;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary);
    color: var(--tertiary);
}

a {
    font-size: 1.5rem;
}

#highScoreList {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 20%;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: large;
}

.text-decoration-none {
    text-decoration: none;
    color: var(--secondary);
}

.btn {
    background-color: var(--secondary);
    transition: all .5s ease-out;
    background-size: 1px 200px;
    background-position: 0 -10px;
    box-sizing: content-box;
}

.btn:hover {
    background-position: 1px -50px;
    color: var(--primary);
}

#wrong-answer {
    margin-top: 2vh;
    border-top: solid 2px lightgray;
}

.answers-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

#highScores {
    color: var(--tertiary);
    font-size: large;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    width: 30%;
}

.correct-wrong {
    display: flex;
    justify-content: center;
    color: gray;
    z-index: -2;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    a {
        font-size: 1.1rem;
    }
    #highScoreList {
        width: 100%;
    }
    .btn {
        box-sizing: content-box;
    }
    .answers-button {
        justify-content: center;
    }

}

@media only screen and (max-width: 375px) {
    .answers-button {
        box-sizing: content-box;
    }
}